body {color:rgb(0,0,0);
    background-color: rgba(218, 226, 231, 0.712);
    font-family:  Source Sans Pro, Arial, sans-serif}

    /* Navipalin taustaväri */
.topnav {
    background-color: #aaaaaab4;
    overflow: hidden;
  }
  
  /* Navipalkin tyylit */
  .topnav a {
    float: left;
    color: #0e0d0d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }
  
  /* Vaihtaa linkkien värit, kun osoitin päällä */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Aktiivinen linkki */
  .topnav a.active {
    background-color: #2594c0;
    color: white;
  }

  /* Flex-kontin ym. ominaisuudet */
  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 700px;
    gap: 10px;
    background-color: #2594c0;
    
  }

  .flex-item {
    white-space: pre-line;
    height: 50px;
    box-sizing: border-box;
    max-width: 50%;
    
  }
  
  .flex-container > div {
    background-color: #f1f1f1; 
    flex-direction: row;
    display: flex; 
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    font-size: 25px;
    max-width: 100%;
    min-width: none;
  }

  /* Kamera-kontin ym. ominaisuudet */
    .kamera-container {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
  }
  .camera {
      text-align: left;
  }
  
  /* Borderien tyylit */
.border {
  border-style: solid;
  padding: 10px;
  padding-bottom: none;


  }